services:
  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRE_USER}
      POSTGRES_PASSWORD: ${POSTGRE_PASSWORD}
      POSTGRES_DB: ${POSTGRE_DBNAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: