# Пример файла конфигурации для Docker
# Скопируйте этот файл в .env и заполните своими значениями

# Настройки базы данных PostgreSQL
DB_HOST=192.168.1.139
DB_PORT=5432
DB_NAME=equipment
DB_USER=postgres
DB_PASSWORD=27915002

# Настройки Flask
# ВАЖНО: Сгенерируйте уникальный SECRET_KEY для безопасности!
# Команда для генерации: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=4a831837ff8fdec2cd13e084b959f161344998ab7fa0821c76dea8fc1447a861
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=8084
