services:
  app: # Рекомендую дать более осмысленное имя, например web_app_dash
    build: .
    network_mode: "host"
    # ports: # С network_mode: "host" секция ports не нужна и игнорируется.
            # Приложение напрямую слушает порт 8083 на хосте.
    env_file:
      - .env # Переменные из этого файла будут загружены
    environment:
      # Эти переменные будут взяты из .env файла или из окружения, где запускается docker-compose
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME1} # Убедитесь, что в .env файле переменная называется DB_NAME1
      # Можно также передать сюда MODE и STATIC_PATH, если они нужны приложению
      # и вы хотите ими управлять через docker-compose, а не только через Dockerfile ENV
      # - MODE=production
      # - STATIC_PATH=/react_static
    # volumes: pgdata: # Эта строка определяет именованный том, но он не используется сервисом app.
                      # Если он не нужен для чего-то другого, его можно удалить из всего файла.